
@{
    ViewData["Title"] = "DynamicElements";
}

<h1 class="clickable">Dynamic Elements</h1>

<div class="text-center" id="div2">
    <p class="clickable">Clickable paragraph!!</p>
    <button class="clickable">Clickable button!</button>
</div>

@section Scripts{
    <script defer src="~/js/homeDynamicElements.js"></script>
}