@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="main">Main Paragraph</p>
    <p id="basic">Basic Paragraph 2</p>
    <p id="exclamation">Paragraph !!</p>
    <button id="btnClickMe">Display Elements!</button>
    <button id="btnClickMeToo">Change the DOM!</button>
</div>

@section Scripts{
    <script defer src="~/js/homeIndex.js"></script>
}
