@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a asp-action="QuerySelector">querySelector()</a>
    <a asp-action="QuerySelectorAll">querySelectorAll()</a>
    <a asp-action="DynamicElements">Dynamic Elements</a>
    <a asp-action="JQDemo">JQuery Demo</a>
</div>

