@{
    ViewData["Title"] = "JQDemo";
}

<h1 class="display-4">Welcome to jQuery</h1>
<header>
    This is the header
</header>
<nav>
    Navigation Area
</nav>
<aside id="someId">
    This is aside
</aside>
<aside>
    This is another aside
</aside>
<button id="btnHideForm">Hide the form</button>
<button id="btnShowForm">Show the form</button>
<form class="someForm" name="formInputArea" id="formInputArea">
    <div>
        <label>Enter text</label>
        <input type="text" id="textSomeText" name="textSomeText" value="This is a text box" />
    </div>
    <div>
        <select name="selectBox">
            <option value="this">This</option>
            <option value="is">is</option>
            <option value="a">a</option>
            <option value="select">select</option>
        </select>
    </div>
    <div>
     <textarea name="textAreaBox" rows="4" cols="50">
        This is a textarea 
     </textarea>
    </div>
    <div>
        <input type="radio" id="radio1" name="radio" value="Radio 1" checked />Radio 1
        <input type="radio" id="radio2" name="radio" value="Radio 2" />Radio 2
    </div>
    <button id="buttonSubmit" name="buttonSubmit" type="submit">Submit</button>
</form>
<button id="btnFadeOut">Fade out 'p' and 'table'</button>
<button id="btnFadeIn">Fade in 'p' and 'table'</button>
<article>
    <p title="title 1">This is paragraph 1 in article 1</p>
    <p>This is paragraph 2 in article 1</p>
    <img src="/images/imgres.jpg" alt="Some Birds" title="Some Birds" />
    <div id="outputArea">
        <p>The output area</p>
    </div>
</article>
<article class="lonely">
    <p title="title 2">This is paragraph 1 in article 2</p>
</article>
<table>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>

<footer>
    This is the footer
</footer>

@section Scripts {
    <script defer src="~/js/homeJQDemo.js"></script>
}


