@{
    ViewData["Title"] = "Query Selector";
}

<h1>@ViewData["Title"]</h1>
<p>Open the developer console.</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="main">Main Paragraph</p>
    <p id="basic">Basic Paragraph 2</p>
    <p id="exclamation">Paragraph !!</p>
</div>

@section Scripts {
    <script defer src="~/js/homeQuerySelector.js"></script>
}
